<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Manual de Usuario | Canvas Web</title>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}"
          media="screen,projection"  />
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}"
          media="screen,projection"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendor.bundle.base.css}"
          media="screen,projection"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"
          media="screen,projection"/>
    <link rel="shortcut icon" type="text/css" th:href="@{/img/favicon.png}"
          media="screen,projection"/>
</head>
<body>
<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
            <!--<a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>-->
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Lienzo Lean Canvas</span>
                </a>
            </li>
            <li class="nav-item">
            <span class="nav-link" href="#">
              <span class="menu-title">Bloques</span>
            </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic-problem" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-comment-question-outline menu-icon"></i>
                    <span class="menu-title">Problema</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic-problem">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a th:href="@{/problem}" class="nav-link">Hipótesis</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/howsolveproblem}" class="nav-link">¿Quién resuelve?</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic-segment" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    <span class="menu-title">Segmento</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic-segment">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a th:href="@{/segment}" class="nav-link">Arquetipo</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/benefits}" class="nav-link">Beneficiarios</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/earlyadopters}" class="nav-link">Early Adopters</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic-uvp" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-diamond menu-icon"></i>
                    <span class="menu-title">PUV</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic-uvp">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/uvp}">Propuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/highconcept}">High Concept</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/socialimpact}">Impacto Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ods}">ODS</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/solution}">
                    <i class="mdi mdi-lightbulb-outline menu-icon"></i>
                    <span class="menu-title">Solución</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/channels}">
                    <i class="mdi mdi-cart menu-icon"></i>
                    <span class="menu-title">Canales</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/metrics}">
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                    <span class="menu-title">Métricas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/unfairadvantage}">
                    <i class="mdi mdi-run menu-icon"></i>
                    <span class="menu-title">Ventaja Injusta</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic-finance" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-square-inc-cash menu-icon"></i>
                    <span class="menu-title">Finanzas</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic-finance">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/income}">Ingresos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/costs}">Costos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/breakeven}">Punto de Equilibrio</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
            <span class="nav-link" href="#">
              <span class="menu-title"> Administración </span>
            </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/configuration}">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Panel de configuración</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/filter}">
                    <i class="mdi mdi-tooltip-edit menu-icon"></i>
                    <span class="menu-title">Personalizar Vista</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tutorial}">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Tutorial de uso</span>
                </a>
            </li>
            <li class="nav-item sidebar-actions">
                <div class="nav-link">
                    <div class="mt-4">
                        <ul class="mt-4 pl-0">
                            <li>Notificaciones</li>
                        </ul>
                        <ul class="mt-4 pl-0">
                            <li>Salir</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles light"></div>
                <div class="tiles dark"></div>
            </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                    <i class="mdi mdi-menu"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count count-varient1">7</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notificaciones</h6>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="assets/images/faces/face4.jpg" alt="" class="profile-pic" />
                                </div>
                                <div class="preview-item-content">
                                    <p class="mb-0"> Profesor Jairo <span class="text-small text-muted">Reviso tu lienzo.</span>
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0">Mirar todas las notificaciones</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-sm-flex">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count count-varient2">5</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Mensajes</h6>
                            <a class="dropdown-item preview-item">
                                <div class="preview-item-content flex-grow">
                                    <span class="badge badge-pill badge-success">Importante</span>
                                    <p class="text-small text-muted ellipsis mb-0"> Revisión del docente </p>
                                </div>
                                <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                            </a>
                            <h6 class="p-3 mb-0">Mirar todas las actividades</h6>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                    <li class="nav-item nav-profile dropdown border-0">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                            <img class="nav-profile-img mr-2" alt="" src="https://cdn-icons-png.flaticon.com/512/74/74472.png" />
                            <span class="profile-name">Danielito Sebastino</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-cached mr-2 text-success"></i> Registros de actividad </a>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-account mr-2 text-success"></i> Perfil </a>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-logout mr-2 text-primary"></i> Salir </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper pb-0">



                <header class="text-center">
                    <img class="img-fluid" src="https://www.incae.edu/sites/default/files/styles/firehose-main-desktop/public/lean_canvas_0.png?itok=EMGvO_QQ">
                    <h1>Lienzo Lean Canvas</h1>
                    <p class="text-muted font-italic mb-2">Es una representación gráfica que sirve para el desarrollo estratégico de un modelo de negocio. Se divide en 9 módulos y es usado, comúnmente,
                        como una plantilla para plasmar los elementos básicos de cualquier idea de negocio.
                    </p>
                    <hr>
                    <p>Podríamos decir que, del mismo modo que un arquitecto diseña planos para la construcción de un edificio, un emprendedor crea un modelo para definir su propuesta de valor,
                        organizar sus recursos humanos, y sentar las bases operativas, administrativas y financieras de su empresa.</p>
                </header>
                <p>En este sentido, también se puede establecer como una manera de visualizar mejor las estrategias que se aplicarán en las estructuras y procesos de un modelo económico empresarial.</p>
                <p>Los 9 módulos del Business Model Canvas cubren las cuatro áreas principales de un negocio:</p>
                    <ol>
                        <li>Clientes.</li>
                        <li>Oferta.</li>
                        <li>Infraestructura.</li>
                        <li>Viabilidad económica.</li>
                    </ol>
                <p>Pasos para realizar el lienzo Canvas</p>
                <ol>
                    <li>Reúne a tu equipo de trabajo.</li>
                    <li>Establece el segmento de mercado.</li>
                    <li>Desarrolla tu propuesta de valor.</li>
                    <li>¿Cómo conectarás con los clientes?</li>
                    <li>Estrategias para relacionarte con el cliente.</li>
                    <li>¿De dónde provendrán tus ingresos?</li>
                    <li>Define las actividades clave.</li>
                    <li>Establece los recursos clave.</li>
                </ol>


                <header class="text-center">
                    <h3 class="display-4">Manual del aplicativo</h3>
                    <p class="text-muted font-italic mb-0">Hola te damos la bienvenida, para nosotros es muy importante que no solo cuentes con una herramienta práctica para trabajar en tu idea de negocio o proyecto
                        y es por eso que te daremos una guía detallada, para entender el manejo de los módulos de manera correcta y un ejemplo que no necesariamente se debe seguir en ese orden, sin embargo,
                        ayudará a entender mejor como se debe llevar el proceso de tu proyecto.</p>
                    <p class="text-muted font-italic mb-0">Para empezar, es necesario comprender que es un modelo de negocio lean canvas y saber también que bloque figura como principal para un correcto diligenciamiento:</p>
                </header>

                <div class="container-lg">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="accordion mt-5" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="clearfix mb-0">
                                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons">+</i>Primeros pasos</a>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="https://static2.abc.es/media/bienestar/2022/04/23/nunca-es-tarde-nueva-vida-2-kA2F--510x349@abc.jpg" class="mr-3" alt="Home" style="width: 70px; height: 70px;">
                                                <div class="media-body">
                                                    <h4 class="mt-0">¿Cómo empezar?</h4>
                                                    <p>Es necesario comprender que es un modelo de negocio lean canvas y saber también que bloque figura como principal para un correcto diligenciamiento.</p>
                                                    <ol>
                                                        <li>Clientes: Definir a quien va dirigido nuestro producto o propuesta, pueden ser de tres a 4 personas y/o clientes.</li>
                                                        <li>Problema: Nos enfocamos en el problema, para así poder elaborar un mejor producto y así encontrarle una solución.</li>
                                                        <li>Propuesta de valor: Aquí es donde buscamos una forma innovadora o diferente de captar y atraer al cliente.</li>
                                                        <li>En High concept vemos como esta idea puede solucionar algo en una escala mayor en pocas palabras como beneficia la humanidad.</li>
                                                        <li>Solución: Es donde buscamos la viabilidad al problema para así resolverlo.</li>
                                                        <li>Canales: Los canales son los medios que se utilizarán para llevar u ofrecer el producto a los clientes.</li>
                                                            <ul>
                                                                <li>Inbound: Atraer con contenido relevante, pero de forma más permisiva, por ejemplo: ofertas y blogs.</li>
                                                                <li>Outbound: Es similar solo que aquí no te piden permiso, solo se ofrecen de manera más directa el producto, ejemplo: Spam, publicidad.</li>
                                                            </ul>
                                                        <li>Costos: Identificamos ahora posibles inversiones o deudas para poder obtener de mejor manera ganancias y recuperar los ingresos.</li>
                                                        <li>Ingresos: En ingresos se identifica donde se va a conseguir ese ingreso que lo incentiva, ejemplo: anuncios.</li>
                                                        <li>Métricas: Describimos las actividades más importantes de la empresa que ayuden a tomar mejores decisiones. Se crea un análisis para llegar a ello.</li>
                                                        <li>Ventaja injusta: Es eso que no tiene la competencia y ayude a marcar la diferencia.</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="material-icons">+</i>Navegación en la plataforma</a>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-manual-instrucciones_114360-2929.jpg?w=2000" class="mr-3" alt="Home" style="width: 70px; height: 70px;">
                                                <div class="media-body">
                                                    <p>Al inicio encontrarás la estructura vacía del lienzo la cual se llenará únicamente al trabajar la información directamente en los módulos los cuales se ubican en un menú lateral del lado izquierdo de tu pantalla.</p>
                                                    <p>Antes de continuar, se considerará la misma acción en cuanto a la gestión de los siguientes módulos o bloques del canvas:</p>
                                                    <ul>
                                                        <li>Problema.</li>
                                                        <li>Segmento.</li>
                                                        <li>UVP – Sin contar el submódulo (ODS).</li>
                                                        <li>Solución.</li>
                                                        <li>Métricas.</li>
                                                        <li>Ventaja injusta.</li>
                                                        <li>En los módulos ya descritos al principio aparecerá el formulario de ingreso de los datos.</li>
                                                        <li>Luego de llenar el campo aparecerá la opción de eliminar y actualizar los datos ingresados.</li>
                                                        <li>Si se desea actualizar volverás al formulario de ingreso de datos y podrás realizar el cambio de los datos.</li>
                                                    </ul>
                                                    <small>Nota: Cabe afirmar que todos los cambios o gestión de cada módulo se verá reflejada en el lienzo lean canvas.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Devs 2022</span>
                </div>
            </footer>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/select2/select2.min.js}"></script>
<script th:src="@{/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/file-upload.js}"></script>
<script th:src="@{/js/typeahead.js}"></script>
<script th:src="@{/js/select2.js}"></script>
<!-- End custom js for this page -->
</body>
</html>